html {
	background-color: #fff;
}
body{
	margin: 0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	color:#333333;
	width: 100%;
	display: table;
}
a{
	color: #333;
}
a:hover{
	color: #666;
}
#wrapper{
	margin: auto;
	width: 950px;
}
.cleaner_with_height{
	clear: both;
}
.cleaner{
	clear: both;
}
#cabecera{

}
#logo{

}
#search{

}
#menu{

}
#area_de_contenido{
	margin-top: 30px;
    margin-bottom: 10px;
}
#left_section{
	float: left;
	width: 410px;
	margin-left: 0px;
	margin-right: 0px;
}
#middle_section{
	float: left;
	width: 180px;
	margin-left: 15px;
	margin-right: 0px;
}
#rigth_section{
	float: right;
	width: 322px;
	margin-right: 10px;
	margin-left: 0px;
}
#footer{

}
#logo{
	float: left;
	width:385px;
	height:55px;
}
#search{
	float: right;
	width:320px;
	height:70px;
}
#menu{

}
.rigth_section_box{
	margin-bottom: 15px;
	margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px;
    border: 1px solid;
    border-color:#ccc;
}
.rigth_section_box h1{
	color:#c60;
	text-decoration: underline;
	font-size: 15px;
	margin-bottom: 8px;
	margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
}
.rigth_section_box h2{
	color:#333;
	font-size: 11px;
	margin:0;
    padding: 0px;
}
.rigth_section_box h2 a{
	color:#333;
	font-size: 11px;
	margin:0;
    padding: 0px;
    text-decoration: none;
}
.rigth_section_box h2 a:hover {
    text-decoration: underline;
}
.rigth_section_box p{
	color:#333;
	text-align: justify;
	font-size: 11px;
	margin-bottom: 20px;
	margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
}
.rigth_section_box p.last{
	color:#333;
	text-align: justify;
	font-size: 11px;
	margin: 0px
    padding: 0px;
}
#galeria{
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 0px;
}
#adver img{
	margin-left: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
}